**Credit EDA Case Study**

In [3]:
# Importing all the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)
pd.set_option('display.width',1000)

In [4]:
# Reading dataset from my local drive location.

df=pd.read_csv("../Credit_EDA_Case_Study/application_data.csv")

FileNotFoundError: [Errno 2] File ../Credit_EDA_Case_Study/application_data.csv does not exist: '../Credit_EDA_Case_Study/application_data.csv'

Checking structure of data(Normal Routine Check)

In [ ]:
# checking the structure of data - Normal routine check using Shape,info and describe
df.shape

In [ ]:
df.info

In [ ]:
df.describe()

In [ ]:
# Checking the percentage of missing values for all the columns
print(round(100*(df.isnull().sum()/len(df.index)), 2))

In [ ]:
# listing the null values columns having more than 50%
blankcol=df.isnull().sum()
blankcol=blankcol[blankcol.values>(0.5*len(df))]
print(len(blankcol))

There are 41 columns having  null values greater than 50% in dataset

In [ ]:
# Removing those 41 columns
blankcol = df.isnull().sum()
blankcol=list(blankcol[blankcol.values>=0.5*len(df)].index)
df.drop(labels=blankcol,axis=1,inplace=True)
print(len(blankcol))

In [ ]:
# Checking the columns having less null percentage
df.isnull().sum()/len(df)*100

In [ ]:
#Analysing columns that has less percentage(13% or so) to report best metric for imputing missing data
df.AMT_REQ_CREDIT_BUREAU_HOUR.describe()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_DAY.describe()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_WEEK.describe()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_MON.describe()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_QRT.describe()

In [5]:
df.AMT_REQ_CREDIT_BUREAU_YEAR.describe()

NameError: name 'df' is not defined

### Need to tell whether we use median or mean for imputing the missing values in above columns

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_HOUR.hist()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_DAY.hist()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_WEEK.hist()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_MON.hist()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_QRT.hist()

In [ ]:
df.AMT_REQ_CREDIT_BUREAU_YEAR.hist()

##### For AMT_REQ_CREDIT_BUREAU_HOUR, AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR
The above chart shows that the distribution is right-skewed, and there are extreme higher values at the right of the histogram. We replace the extreme values with median values. It is advised to not use mean values as they are affected by outliers.

Checking datatype of all columns

In [ ]:
df.dtypes

In [ ]:
# Looking for nummber of unique categories in a column
df.nunique().sort_values()

In [ ]:
df.head(10)

In [ ]:
df.isnull().sum()

In [ ]:
#change negative datatypes of below columns
df['DAYS_BIRTH'] = df['DAYS_BIRTH'].abs()
df['DAYS_EMPLOYED'] = df['DAYS_EMPLOYED'].abs()
df['DAYS_REGISTRATION'] = df['DAYS_REGISTRATION'].abs()
df['DAYS_ID_PUBLISH'] = df['DAYS_ID_PUBLISH'].abs()
df['DAYS_LAST_PHONE_CHANGE'] = df['DAYS_LAST_PHONE_CHANGE'].abs()

In [ ]:
# Inspecting dataset after changing negative data types
df.head(10)

In [ ]:
#inspecting the columns for missing %age
df.isnull().sum()/len(df)*100

In [ ]:
df.shape

In [ ]:
# We will remove unwanted columns from this dataset and continue with 25-30 columns further

unwantedcol=['FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','FLAG_EMAIL','CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY','DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3','FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9','FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15','FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR',
        'YEARS_BEGINEXPLUATATION_AVG','FLOORSMAX_AVG','YEARS_BEGINEXPLUATATION_MODE','FLOORSMAX_MODE','YEARS_BEGINEXPLUATATION_MEDI',
        'FLOORSMAX_MEDI','TOTALAREA_MODE','EMERGENCYSTATE_MODE','AMT_GOODS_PRICE','NAME_TYPE_SUITE','OCCUPATION_TYPE',
        'EXT_SOURCE_2','EXT_SOURCE_3','OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE','OBS_60_CNT_SOCIAL_CIRCLE',
        'DEF_60_CNT_SOCIAL_CIRCLE']

df.drop(labels=unwantedcol,axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
# inspecting the columns for percentage missing values
df.isnull().sum()/len(df)*100

There are certain columns where values are XNA which implies 'Not available'. Inspecting and updating them.

In [ ]:
# Checking Gender code column
df['CODE_GENDER'].value_counts()

In [ ]:
df[df['CODE_GENDER']=='XNA'].shape

Female is in majority and only 4 rows are having XNA values, we can update those columns with Gender 'F' as there will be no impact on the dataset.

In [ ]:
# Updating'CODE_GENDER' column with "F" for the dataset

df.loc[df['CODE_GENDER']=='XNA','CODE_GENDER']='F'
df['CODE_GENDER'].value_counts()

In [ ]:
# Checking Gender code column and oberved there are 18% XNA values. Hence decided to drop these rows
df['ORGANIZATION_TYPE'].value_counts(normalize=True)

In [ ]:
# Hence, dropping the rows of total 55374 have 'XNA' values in the organization type column

df=df.drop(df.loc[df['ORGANIZATION_TYPE']=='XNA'].index)
df[df['ORGANIZATION_TYPE']=='XNA'].shape

In [ ]:
# Casting all variable into numeric in the dataset

numeric_columns=['TARGET','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','REGION_POPULATION_RELATIVE','DAYS_BIRTH',
                'DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH','HOUR_APPR_PROCESS_START','LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY']

df[numeric_columns]=df[numeric_columns].apply(pd.to_numeric)
df.head(5)

In [ ]:
# Inspecting dataset
df.shape

Binning of Continous variables

Creating bins for these two continous variable categories column 'AMT_INCOME_TOTAL' and 'AMT_CREDIT'

In [ ]:
# Creating bins for AMT_INCOME_TOTAL

bins = [0,25000,50000,75000,100000,125000,150000,175000,200000,225000,250000,275000,300000,325000,350000,375000,400000,425000,450000,475000,500000,10000000000]
slot = ['0-25000', '25000-50000','50000-75000','75000,100000','100000-125000', '125000-150000', '150000-175000','175000-200000',
       '200000-225000','225000-250000','250000-275000','275000-300000','300000-325000','325000-350000','350000-375000',
       '375000-400000','400000-425000','425000-450000','450000-475000','475000-500000','500000 and above']

df['AMT_INCOME_RANGE']=pd.cut(df['AMT_INCOME_TOTAL'],bins,labels=slot)

In [ ]:
# Creating bins for AMT_CREDIT

bins = [0,150000,200000,250000,300000,350000,400000,450000,500000,550000,600000,650000,700000,750000,800000,850000,900000,1000000000]
slots = ['0-150000', '150000-200000','200000-250000', '250000-300000', '300000-350000', '350000-400000','400000-450000',
        '450000-500000','500000-550000','550000-600000','600000-650000','650000-700000','700000-750000','750000-800000',
        '800000-850000','850000-900000','900000 and above']

df['AMT_CREDIT_RANGE']=pd.cut(df['AMT_CREDIT'],bins=bins,labels=slots)

In [ ]:
# Checking Bins are created in dataset
df.head(5)

In [ ]:
# Total no. of rows
df.shape

In [ ]:
# Dividing the dataset into two dataset of  target=1(clients defaulted) and target=0 (not defaulted)

target0_df=df[df["TARGET"]==0]
target1_df=df[df["TARGET"]==1]

In [ ]:
# checking no. of rows in both data sets
print(target0_df.shape)

print(target1_df.shape)

In [ ]:
#Imbalance Percentage
# percentage of values in taget0_df and target1_df

print(round(100*(len(target0_df.index)/252137),2))
print(round(100*(len(target1_df.index)/252137),2))

Univariate analysis for categories

**Categorical Univariate Analysis in logarithmic scale for target=0**

In [ ]:
# Count plotting in logarithmic scale

def uniplot(df,col,title,hue =None):
    
    sns.set_style('whitegrid')
    sns.set_context('talk')
    plt.rcParams["axes.labelsize"] = 20
    plt.rcParams['axes.titlesize'] = 22
    plt.rcParams['axes.titlepad'] = 30
    
    
    temp = pd.Series(data = hue)
    fig, ax = plt.subplots()
    width = len(df[col].unique()) + 7 + 4*len(temp.unique())
    fig.set_size_inches(width , 8)
    plt.xticks(rotation=45)
    plt.yscale('log')
    plt.title(title)
    ax = sns.countplot(data = df, x= col, order=df[col].value_counts().index,hue = hue,palette='viridis') 
        
    plt.show()

In [ ]:
# PLotting for income range

uniplot(target0_df,col='AMT_INCOME_RANGE',title='Income range Distribution',hue='CODE_GENDER')

Conclusion from the above graph.

1. Female count is higher than male.
2. Income range from 100000 to 200000 is having more number of credits.
3. It shows that Females are more than male in having credits for that range.
4. Count is very less for income range 400000 and above.

In [ ]:
# Plotting for Contract type

uniplot(target0_df,col='NAME_CONTRACT_TYPE',title='Contract type Distribution',hue='CODE_GENDER')

Conclusion from the above graph.

1. For ‘cash loans’ type contract credits are higher than ‘Revolving loans’ contract type.
2. Females are leading for applying credits.

In [ ]:
# Plotting for Income type

uniplot(target0_df,col='NAME_INCOME_TYPE',title='Income type Distribution',hue='CODE_GENDER')

Conclusion from the above graph.

1. Females are having more number of credits than male.
2. Less number of credits for income type ‘student’ ,’pensioner’, ‘Businessman’ and ‘Maternity leave’.
3. For income type ‘working’, ’commercial associate’, and ‘State Servant’ the number of credits are higher than others.

In [ ]:
# Plotting for Organization type in logarithmic scale

sns.set_style('whitegrid')
sns.set_context('talk')
plt.figure(figsize=(15,30))
plt.rcParams["axes.labelsize"] = 20
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.titlepad'] = 30

plt.title("Organization type distribution for target - 0")

plt.xticks(rotation=90)
plt.xscale('log')

sns.countplot(data=target0_df,y='ORGANIZATION_TYPE',order=target0_df['ORGANIZATION_TYPE'].value_counts().index,palette='cividis')

plt.show()

Conclusion from the above graph.

1. Clients which have applied for credits are from most of the organization type ‘Business entity Type 3’ , ‘Self employed’,
   ‘Other’ , ‘Medicine’ and ‘Government’.
2. Less clients are from Industry type 10,type 8, type 6, religion and  trade type 4, type 5.

**Categoroical Univariate Analysis in logarithmic scale for target=1(clients defaulted)**

In [ ]:
# PLotting for income range

uniplot(target1_df,col='AMT_INCOME_RANGE',title='Income range Distribution',hue='CODE_GENDER')

Conclusion from the above graph.

1. Less count for income range 400000 and above.
2. Male counts are higher than female.
3. Income range from 100000 to 200000 is having more number of credits.
4. This shows that Males are more than female in having credits for that range.

In [ ]:
# Plotting for Contract type

uniplot(target1_df,col='NAME_CONTRACT_TYPE',title='Contract type Distribution',hue='CODE_GENDER')

Conclusion from the above graph.

1. ‘Cash loans’ contract type is having higher number of credits than ‘Revolving loans’ contract type.
2. Female is leading for applying credits.
3. There are only Female Revolving loans

In [ ]:
# Plotting for Income type

uniplot(target1_df,col='NAME_INCOME_TYPE',title='Income type Distribution',hue='CODE_GENDER')

Conclusion from the above graph.

1. Less number of credits for income type  ‘Maternity leave’.
2. For income type ‘working’, ’commercial associate’, and ‘State Servant’ the number of credits are higher.
3. Females are having more number of credits than male.
4. There is no income type for ‘student’ , ’pensioner’ and ‘Businessman’ which means they don’t do any late payments.

In [ ]:
# Plotting for Organization type in logarithmic scale

sns.set_style('whitegrid')
sns.set_context('talk')
plt.figure(figsize=(15,30))
plt.rcParams["axes.labelsize"] = 20
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.titlepad'] = 30

plt.title("Organization type distribution for target - 1")

plt.xticks(rotation=90)
plt.xscale('log')

sns.countplot(data=target0_df,y='ORGANIZATION_TYPE',order=target1_df['ORGANIZATION_TYPE'].value_counts().index,palette='cividis')

plt.show()

Conclusion from the above graph.

1. Clients which have applied for credits are from most of the organization type ‘Business entity Type 3’ , ‘Self employed’ , ‘Other’ , ‘Medicine’ and ‘Government’.
2. There are less clients from Industry type 8,type 6, type 13, type 10, religion and  trade type 4, type 5.

**Finding correlation for numerical columns for both cases - Target 0 and Target1**

In [6]:
# Finding correlation for numerical columns for target 0

corr = target0_df.corr()

corr = corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
corr0_df = corr.unstack().reset_index()
corr0_df.columns = ['VAR1', 'VAR2', 'Correlation']
corr0_df.dropna(subset= ['Correlation'], inplace= True)
corr0_df['Correlation'] = round(corr0_df['Correlation'],2)
# Since we see correlation as absolute value, we are converting it into absolute value
corr0_df['Correlation'] = corr0_df['Correlation'].abs()
corr0_df.sort_values(by = 'Correlation', ascending= False).head(10)

NameError: name 'target0_df' is not defined

In [ ]:
# Finding correlation for numerical columns for target 1

corr = target1_df.corr()

corr = corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
corr1_df = corr.unstack().reset_index()
corr1_df.columns = ['VAR1', 'VAR2', 'Correlation']
corr1_df.dropna(subset= ['Correlation'], inplace= True)
corr1_df['Correlation'] = round(corr0_df['Correlation'],2)
# Since we see correlation as absolute value, we are converting it into absolute value
corr1_df['Correlation'] = corr0_df['Correlation'].abs()
corr1_df.sort_values(by = 'Correlation', ascending= False).head (10)

Top 10 variables from Target 0 and Target 1 can be found above

**Observation** : Variables with Highest correlation are same in both the files - Target 0 and Target 1

**Univariate analysis**

In [ ]:
# Box plotting for univariate variables analysis in logarithmic scale

def univariate_numerical(data,col,title):
    sns.set_style('whitegrid')
    sns.set_context('talk')
    plt.rcParams["axes.labelsize"] = 20
    plt.rcParams['axes.titlesize'] = 22
    plt.rcParams['axes.titlepad'] = 30
    
    plt.title(title)
    plt.yscale('log')
    sns.boxplot(data =df, x=col,orient='v')
    plt.show()

**For Target 0 - Finding any outliers**

In [ ]:
# Distribution of income amount

univariate_numerical(data=target0_df,col='AMT_INCOME_TOTAL',title='Distribution of income amount')

Few points concluded from the graph above.

1. Some outliers are noticed in income amount.
2. The third quartiles is very slim for income amount.

In [ ]:
# Disrtibution of credit amount

univariate_numerical(data=target0_df,col='AMT_CREDIT',title='Distribution of credit amount')

Few points concluded from the graph above.

1. Some outliers are noticed in credit amount.
2. The third quartiles is relative slim for credit amount.

In [ ]:
# Distribution of anuuity amount

univariate_numerical(data=target0_df,col='AMT_ANNUITY',title='Distribution of Annuity amount')

Few points concluded from the graph above.

1. Some outliers are noticed in annuity amount as well.
2. The third and second quartiles are almost same for annuity amount.

**For Target 1 - Finding any outliers**

In [ ]:
# Distribution of income amount

univariate_numerical(data=target1_df,col='AMT_INCOME_TOTAL',title='Distribution of income amount')

Few points concluded from the graph above.

1. Some outliers are noticed in distribution of income amount.
2. The third and second quartiles are almost same.

In [ ]:
# Distribution of credit amount

univariate_numerical(data=target1_df,col='AMT_CREDIT',title='Distribution of credit amount')

Few points concluded from the graph above.

1. Not much outliers are noticed in distribution of credit amount.
2. The third quartile is relatively smaller than all the other.

In [ ]:
# Distribution of Annuity amount

univariate_numerical(data=target1_df,col='AMT_ANNUITY',title='Distribution of Annuity amount')

Few points concluded from the graph above.

1. Few outliers are noticed in distribution of annuity.
2. The third and second quartiles are almost same.

**Bivariate analysis for numerical variables**

**Bivariate analysis for Target 0**

In [ ]:
# Box plotting for Income amount

plt.figure(figsize=(16,12))
plt.xticks(rotation=45)
plt.yscale('log')
sns.boxplot(data =target0_df, x='NAME_EDUCATION_TYPE',y='AMT_INCOME_TOTAL', hue ='NAME_FAMILY_STATUS',orient='v')
plt.title('Income Amount vs Education Status')
plt.show()

Key Points from above box plot-

1. For Education type 'Higher education' the income amount is mostly equal with family status but has many outliers. 
2. Less outlier are having for Academic degree but there income amount is little high that Higher education.
3. Lower secondary of civil marriage family status are have less income amount than others.

In [ ]:
# Box plotting for Credit amount

plt.figure(figsize=(16,12))
plt.xticks(rotation=45)
sns.boxplot(data =target0_df, x='NAME_EDUCATION_TYPE',y='AMT_CREDIT', hue ='NAME_FAMILY_STATUS',orient='v')
plt.title('Credit Amount vs Education Status')
plt.show()

Key Points from above box plot:

1. Family status of 'civil marriage', 'marriage' and 'separated' of Academic degree education are having higher number of credits than others.
2. Civil marriage for Academic degree is having most of the credits in the third quartile.
3. Higher education of family status of 'marriage', 'single' and 'civil marriage' are having more outliers.

**Bivariate analysis for Target 1**

In [ ]:
# Box plotting for Income amount

plt.figure(figsize=(16,12))
plt.xticks(rotation=45)
plt.yscale('log')
sns.boxplot(data =target1_df, x='NAME_EDUCATION_TYPE',y='AMT_INCOME_TOTAL', hue ='NAME_FAMILY_STATUS',orient='v')
plt.title('Income Amount vs Education Status')
plt.show()

Key Points from above box plot:

1. For Education type 'Lower education' the income amount very different with family status and has significant outliers. 
2. Lower secondary of widow family status have less income amount than others.

In [ ]:
# Box plotting for credit amount

plt.figure(figsize=(16,12))
plt.xticks(rotation=45)
sns.boxplot(data =target1_df, x='NAME_EDUCATION_TYPE',y='AMT_CREDIT', hue ='NAME_FAMILY_STATUS',orient='v')
plt.title('Credit Amount vs Education Status')
plt.show()

Key Points from above box plot:

1. Family status of 'widow' and 'married' of Secondary Special degree education are having higher number of credits than others.
2. Higher education of family status of 'single', and 'married' are having more outliers.

**Reading previous application data**

In [ ]:
# Reading "previous application" data

df1=pd.read_csv("../Credit_EDA_Case_Study/previous_application.csv")

In [ ]:
# checking the structure of data

df1.shape

In [ ]:
df1.describe()

In [ ]:
# Checking the percentage of missing values for all the columns
print(round(100*(df1.isnull().sum()/len(df1.index)), 2))

In [ ]:
# listing the null values columns having more than 40%
blankcol1=df1.isnull().sum()
blankcol1=blankcol1[blankcol1.values>(0.4*len(df1))]
print(len(blankcol1))

There are 11 columns having  null values greater than 40% in dataset

In [ ]:
# Removing those 11 columns
blankcol1 = df1.isnull().sum()
blankcol1=list(blankcol1[blankcol1.values>=0.4*len(df1)].index)
df1.drop(labels=blankcol1,axis=1,inplace=True)
print(len(blankcol1))

In [ ]:
df1.shape

In [ ]:
df1.columns

In [ ]:
# Removing values XAP, XNA in dataset

df1=df1.drop(df1[df1['NAME_CASH_LOAN_PURPOSE']=='XNA'].index)
df1=df1.drop(df1[df1['NAME_CASH_LOAN_PURPOSE']=='XAP'].index)

df1.shape

In [ ]:
# Merging the Application dataset with previous appliaction dataset

final_df=pd.merge(left=df,right=df1,how='inner',on='SK_ID_CURR',suffixes='_x')

In [ ]:
final_df.head()

In [ ]:
# inspecting dataframe
final_df.shape

In [ ]:
# Renaming the column names after merging

final_df1 = final_df.rename({'NAME_CONTRACT_TYPE_' : 'NAME_CONTRACT_TYPE','AMT_CREDIT_':'AMT_CREDIT','AMT_ANNUITY_':'AMT_ANNUITY',
                         'WEEKDAY_APPR_PROCESS_START_' : 'WEEKDAY_APPR_PROCESS_START',
                         'HOUR_APPR_PROCESS_START_':'HOUR_APPR_PROCESS_START','NAME_CONTRACT_TYPEx':'NAME_CONTRACT_TYPE_PREV',
                         'AMT_CREDITx':'AMT_CREDIT_PREV','AMT_ANNUITYx':'AMT_ANNUITY_PREV',
                         'WEEKDAY_APPR_PROCESS_STARTx':'WEEKDAY_APPR_PROCESS_START_PREV',
                         'HOUR_APPR_PROCESS_STARTx':'HOUR_APPR_PROCESS_START_PREV'}, axis=1)

In [ ]:
final_df1.columns

In [ ]:
# Removing unwanted columns for analysis

final_df1.drop(['SK_ID_CURR','WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START','REG_REGION_NOT_LIVE_REGION', 
              'REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
              'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY','WEEKDAY_APPR_PROCESS_START_PREV',
              'HOUR_APPR_PROCESS_START_PREV', 'FLAG_LAST_APPL_PER_CONTRACT','NFLAG_LAST_APPL_IN_DAY',
               'NAME_SELLER_INDUSTRY','SELLERPLACE_AREA','DAYS_DECISION','CODE_REJECT_REASON','NAME_GOODS_CATEGORY'],axis=1,inplace=True)

In [ ]:
final_df1.head()

**Performing univariate analysis to get insights**

In [ ]:
# Distribution of Loan purposes with Target

sns.set_style('whitegrid')
sns.set_context('talk')

plt.figure(figsize=(15,30))
plt.rcParams["axes.labelsize"] = 20
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.titlepad'] = 30
plt.xticks(rotation=90)
plt.xscale('log')
plt.title('Distribution of Loan purposes with Target ')
ax = sns.countplot(data = final_df1, y= 'NAME_CASH_LOAN_PURPOSE', 
                   order=final_df1['NAME_CASH_LOAN_PURPOSE'].value_counts().index,hue = 'TARGET',palette='viridis')

Key points we can conclude from above plot:

1. Loan purposes with 'Repairs' are facing more difficulites in payment on time ie, they defaulted mostly.
2. There are few places where clients/people have done loan payment significantly well as compared to being defaulted.
   They are 'Buying a garage', 'Business developemt', 'Buying land','Buying a new car' and 'Education'

Hence we can focus on these Loan purposes for which the client/people having minimal payment difficulties ie. less defaults.

In [ ]:
# Distribution of contract status with Purposes

sns.set_style('whitegrid')
sns.set_context('talk')

plt.figure(figsize=(15,30))
plt.rcParams["axes.labelsize"] = 20
plt.rcParams['axes.titlesize'] = 22
plt.rcParams['axes.titlepad'] = 30
plt.xticks(rotation=90)
plt.xscale('log')
plt.title('Distribution of contract status with Loan purposes')
ax = sns.countplot(data = final_df1, y= 'NAME_CASH_LOAN_PURPOSE', 
                   order=final_df1['NAME_CASH_LOAN_PURPOSE'].value_counts().index,hue = 'NAME_CONTRACT_STATUS',palette='viridis')

Key Points we can conclude from above plot:

1. Most rejection of loans came from Loan purpose 'repairs'.
2. Paying other loans and buying a new car is having significant higher rejection than approves.
3. For education purposes we have equal number of approves and rejection.

**Performing Bivariate analysis to get insights**

In [ ]:
# Box plotting for Prev Credit amount vs Housing type

plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
sns.barplot(data =final_df1, y='AMT_CREDIT_PREV',hue='TARGET',x='NAME_HOUSING_TYPE')
plt.title('Prev Credit amount vs Housing type')
plt.show()

Key Points we can conclude from above plot:

1. For Housing type, office appartment is having higher credit of target 0.
2. co-op apartment is having higher credit of target 1.

So, we can say that bank should avoid giving loans to the housing type of co-op apartment as they are having difficulties in payment ie, most of them defaulted.

In [ ]:
# Box plotting for Prev Credit amount vs Loan purpose

plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
plt.yscale('log')
sns.boxplot(data =final_df1, x='NAME_CASH_LOAN_PURPOSE',hue='NAME_INCOME_TYPE',y='AMT_CREDIT_PREV',orient='v')
plt.title('Prev Credit amount vs Loan Purpose')
plt.show()

Key Points we can conclude from above plot-

1. The credit amount of Loan purposes like 'Buying a home','Buying a holiday home/land','Buying a new car' and'Building a home' is higher.
2. Money for third person or a Hobby is having less credits applied for.
3. Income type of state servants have a significant amount of credit applied

**Conclusion:**

   1. Bank should avoid giving loans to the housing type of co-op apartment as they are having difficulties in payment ie, most        of them defaulted.
   2. Banks should focus less on income type ‘Working’ as they are having most number of unsuccessful payments.
   3. Bank should focus less on loan purpose ‘Repair’ as it is having higher number of unsuccessful payments on time.
   4. Also, Paying other loans and buying a new car is having significant higher rejection than approves.
   5. Get as much as clients from housing type ‘With parents’ as they are having least number of unsuccessful payments.
   6. Banks should focus more on contract type ‘Student’ ,’pensioner’with housing ‘type other than ‘Co-op apartment’ for         successful payments.